diagnostics:
  enabled:
    - crossref
apps_dirs:
  - "src"
  - "src/*"
  - "tests"
  - "tests/*"
include_dirs:
  - "src"
  - "src/include"
  - "tests"
  - "tests/include"
  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
providers:
  enabled:
    - signature-help